In [45]:
import sqlite3
connection=sqlite3.connect('mydb.db')
cursor=connection.cursor()
connection.commit()

In [46]:
def createtable():
    cursor.execute('''CREATE TABLE IF NOT EXISTS kitapp (name TEXT PRIMARY KEY,Surname TEXT,Age INTEGER)''')
    connection.commit()

In [50]:
def insertdata():
    cursor.execute('''INSERT INTO kitapp values('MAHMUT','SİNECEN',44)''')
    connection.commit()

In [51]:
createtable()

In [52]:
insertdata()

In [53]:
connection.close()

# Getting values from table

In [89]:
import sqlite3
connection=sqlite3.connect('mydb.db')
cur=connection.cursor()

In [90]:
def createtable():
    cur.execute('''CREATE TABLE IF NOT EXISTS kitapp (name TEXT PRIMARY KEY,Surname TEXT,Age INTEGER)''')
    connection.commit()

In [91]:
def insertdata():
    cur.execute('''INSERT INTO kitapp values('MAHMUT','SİNECEN',44)''')
    connection.commit()

In [92]:
def takedata():
    cur.execute('''SELECT * FROM kitapp''')
    data_liste=cursor.fetchall()
    print(data_liste)

In [93]:
takedata()

ProgrammingError: Cannot operate on a closed database.

In [94]:
connection.close()

# Updating the Table

In [95]:
def updatedata(new_name,old_name):
    cursor.execute('UPDATE name SET name=?,Surname=? WHERE name=?',(new_name,old_name,old_name))
    connection.commit()